.login_div {
  border: 2px solid red;
  width: 35%;
  margin: auto;
  background-color: greenyellow;
}
h2 {
  text-align: center;
}
.login_div > input {
  width: 330px;
  height: 30px;
  margin: 30px 10px 0px 100px;
  /* padding: 5px; */
  border-radius: 2px;
  border: 1px solid black;
}

.login_div > button {
  width: 100px;
  padding: 5px;
  margin: 30px 10px 10px 200px;
  border: none;
  border-radius: 5px;
  background-color: blue;
  color: white;
}
